<h1 style="color:blue">Welcome to Micropost <%= logged_in_user.name %></h1>

<br/>
<br/>
<%= link_to "View Posts", posts_path %> 
<br/>
<br/>
<%= link_to "View Followers", follers_path %>

<br/>
<br/>
<%= link_to "Add Followers", unfollowed_index_url %>
