<h4 id="notice"><%= notice %></h4>
<h1 style="color:blue">Welcome to Micropost <%= @logged_in_user.name %></h1>

<br/>
<br/>
<%= link_to "View Posts", posts_path %> 
<br/>
<br/>
<%= link_to "Followers", follers_path %>
